<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/stewdb</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Entities/Messagesent.hbm.xml"/>
    <mapping resource="Entities/Appuser.hbm.xml"/>
    <mapping resource="Entities/Log.hbm.xml"/>
    <mapping resource="Entities/Datasynctracking.hbm.xml"/>
    <mapping resource="Entities/Deviceregister.hbm.xml"/>
    <mapping resource="Entities/Group.hbm.xml"/>
    <mapping resource="Entities/Message.hbm.xml"/>
    <mapping resource="Entities/Role.hbm.xml"/>
    <mapping resource="Entities/User.hbm.xml"/>
    <mapping resource="Entities/Userdata.hbm.xml"/>
    <mapping resource="Entities/Usergroupdetail.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
